body {
    text-align: center;
    color: rgb(60, 3, 35);
    background-color: rgb(244, 226, 236);
    padding: 0;
}
header{
    background-color: rgba(244, 106, 193, 0.637);
    color: rgb(29, 5, 18);
    padding: 20px;
    margin-bottom: 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
img{
    width: 700px;
}

section {
    background-color:rgb(250, 187, 224);
    border: 1px solid slategray;
    margin: 10px auto;
    padding: 15px;
    border-radius: 4px;
    width: 50%;
    max-width: 800px;
}

section img {
    max-width: 100%;
    border-radius: 2px;
}

section h2 {
    font-size: 15px;
    margin: 10px 0 5px;
}

footer{
    margin-top: 40px;
    padding: 10px 0;
    font-size: 12px;
    background-color: rgb(244, 106, 193, 0.637);
}